.options_img{
    height: 30px;
    width: 30px;
    position: static;
}
.feed__input svg{
    margin-top: 10px;
    height: 40px;
    width: 40px;
}
.feed{
    display: flex;
    flex: 0.6;
    flex-direction: column;
    margin: 0px 30px;
    width: 350px;
    box-sizing: border-box;
}
.feed .feed__input{
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.feed .feed__input form{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex: 1;
}
.feed .feed__input form input[type='text']{
    flex: 1;
    border-radius: 20px;
    padding: 0px 10px;
    margin-left: 10px;
    height: 40px;
    outline: 0;
    border: 1px solid #ccc;
}

.feed__options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
    margin-top: -25px;
    border-radius: 10px;
}
.feed__options .option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 10px;
}
.feed__options .option div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}
.feed__options .option div:hover{
    background-color: #eee;
}
.feed__input button{
    width: 50px;
    background-color: rgb(30, 148, 245);
}
.option span{
    margin: 20px;
    font-size: 15px;
}
.input:hover{
    background-color: #f3f2ef;
    cursor: pointer;
}
.post_modal{
    height: 400px;
    width: 550px;
    background-color: white;
    border-radius: 10px;
    /* position: absolute; */
    /* top: 40px;
    left: 440px; */
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
.modal_deactivated{
    scale: 0;
}
.modal_activated{
    scale: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    /* opacity: 0.7; */
    z-index: 11;
}
/* .modal_body{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.7;
    top: -227px;
    left: -501px;
    z-index: 100;
} */
.x{
    border-radius: 50%;
    position: relative;
    top: -80px;
    /* left: 690px; */
    padding: 5px;
    height: 22px;
    width: 25px;
    margin-left: 525px;
}
.x:hover{
    background-color: #f3f2ef;
    cursor: pointer;
}
.post_button{
    background-color: rgb(28, 70, 183);
    border-radius: 20px;
    color: white;
    border: none;
    width: 50px;
    height: 25px;
    font-weight: bold;
    margin-left: 505px;
}
.post_button:hover{
    cursor: pointer;
}
.user_logo{
    height: 60px;
    width: 60px;
}
.user_data{
    display: flex;
    width: 180px;
    padding: 5px;
    border-radius: 15px;
}
.user_data:hover{
    background-color: #ccc;
    cursor: pointer;
}
.user_data > div > p{
    padding: 0;
    margin-top: -20px;
}
.user_data > div{
    margin-top: -24px;
    margin-left: 10px;
}
#post_textarea{
    width: 570px;
    height: 240px;
    border: none;
    font-size: larger;
}