.options_img{
    height: 3rem;
    width: 3rem;
    position: static;
}
.feed__input svg{
    margin-top: 1rem;
    height: 4rem;
    width: 4rem;
}
.feed{
    display: flex;
    flex: 0.6;
    flex-direction: column;
    margin: 0rem 3rem;
    width: 35rem;
    box-sizing: border-box;
}
.feed .feed__input{
    display: flex;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}
.feed .feed__input form{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex: 1;
}
.feed .feed__input form input[type='text']{
    flex: 1;
    border-radius: 2rem;
    padding: 0rem 1rem;
    margin-left: 1rem;
    height: 4rem;
    outline: 0;
    border: .1rem solid #ccc;
}

.feed__options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
    margin-top: -2.5rem;
    border-radius: 1rem;
}
.feed__options .option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    font-size: 1.4rem;
    border-radius: .5rem;
    padding: 1rem 1rem;
}
.feed__options .option div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .5rem;
}
.feed__options .option div:hover{
    background-color: #eee;
}
.feed__input button{
    width: 5rem;
    background-color: rgb(30, 148, 245);
}
.option span{
    margin: 2rem;
    font-size: 1.5rem;
}
.input:hover{
    background-color: #f3f2ef;
    cursor: pointer;
}
.post_modal{
    height: 40rem;
    width: 55rem;
    background-color: white;
    border-radius: 1rem;
    /* position: absolute; */
    /* top: 40rem;
    left: 440rem; */
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
}
.modal_deactivated{
    scale: 0;
}
.modal_activated{
    scale: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    /* opacity: 0.7; */
    z-index: 11;
}
/* .modal_body{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.7;
    top: -227rem;
    left: -501rem;
    z-index: 100;
} */
.x{
    border-radius: 50%;
    position: relative;
    top: -8rem;
    /* left: 690rem; */
    padding: .5rem;
    height: 2.2rem;
    width: 2.5rem;
    margin-left: 52.5rem;
}
.x:hover{
    background-color: #f3f2ef;
    cursor: pointer;
}
.post_button{
    background-color: rgb(28, 70, 183);
    border-radius: 2rem;
    color: white;
    border: none;
    width: 5rem;
    height: 2.5rem;
    font-weight: bold;
    margin-left: 50.5rem;
}
.post_button:hover{
    cursor: pointer;
}
.user_logo{
    height: 6rem;
    width: 6rem;
}
.user_data{
    display: flex;
    width: 18rem;
    padding: .5rem;
    border-radius: 1.5rem;
}
.user_data:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}
.user_data > div > p{
    padding: 0;
    margin-top: -1rem;
    font-size: 1.3rem;
}
.user_data > div{
    margin-top: -0.4rem;
    margin-left: 1rem;
}
#post_textarea{
    width: 57rem;
    height: 24rem;
    border: none;
    font-size: 1.7rem;
}

@media (max-width:500px){
    .feed {
        margin-left: -41rem;
        margin-top: 47rem;
        width: 41rem; 
    }
    form .input{
        width: 3rem;
    }
    .feed__options .option{
        padding: 0;
    }
    .post_modal{
        width: 35rem;
    }
    .x{
        margin-left: 33.5rem;
    }
    .user_data > div{
        margin-top: -0.4rem;
    }
    .user_data > div > h1{
        font-size: 2.4rem;
    }
    .user_data > div > p{
        font-size: 1.4rem;
    }
    #post_textarea{
        font-size: 1.7rem;
    }
    .post_button{
        margin-left: 30.5rem;
    }
}