.feed__options .option img{
    height: 30px;
    width: 30px;
    position: static;
}
.feed__input svg{
    margin-top: 10px;
    height: 40px;
    width: 40px;
}
.feed{
    display: flex;
    flex: 0.6;
    flex-direction: column;
    margin: 0px 30px;
    width: 350px;
    box-sizing: border-box;
}
.feed .feed__input{
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.feed .feed__input form{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex: 1;
}
.feed .feed__input form input[type='text']{
    flex: 1;
    border-radius: 20px;
    padding: 0px 10px;
    margin-left: 10px;
    height: 40px;
    outline: 0;
    border: 1px solid #ccc;
}

.feed__options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
    margin-top: -25px;
    border-radius: 10px;
}
.feed__options .option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 10px;
}
.feed__options .option div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}
.feed__options .option div:hover{
    background-color: #eee;
}
.feed__input button{
    width: 50px;
    background-color: rgb(30, 148, 245);
}
.option span{
    margin: 20px;
    font-size: 15px;
}