.groups_feed_body{
    background-color: white;
    border-radius: 1rem;
    height: 57rem;
    width: 75rem;
    margin-left: 24rem;
    margin-top: 3rem
}
.groups_header{
    border-bottom: .1rem solid #dadada;
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.group_header_left{
    display: flex;
    flex-direction: row;
}
.group_header_left > p{
    margin-left: 3.5rem;
    font-size: 1.6rem;
}
.groups_header_button{
    margin-top: 1rem;
    border-radius: 3.5rem;
    border: .1rem solid rgb(28, 70, 183);
    background-color: white;
    color: rgb(28, 70, 183);
    width: 9vw;
    height: 3.5rem;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.groups_header_button:hover{
    border: .2rem solid rgb(28, 70, 183);
    background-color: rgb(233, 237, 241);
    cursor: pointer;
}
.groups_feed_content{
    margin-left: 26.2rem;
    margin-top: 6.5rem;
}
.groups_feed_content > h2{
    font-size: 2rem;
}
.groups_feed_content > img{
    width: 15.3rem;
    height: 15.2rem;
    margin-left: 1.2rem;
}
.groups_feed_content > p{
    width: 29.5rem;
    margin-left: -5.5rem;
    font-size: 1.6rem;
}
.groups_content_button{
    margin-top: 3.8rem;
    border-radius: 3.5rem;
    border: .1rem solid rgb(28, 70, 183);
    background-color: white;
    color: rgb(28, 70, 183);
    width: 7vw;
    height: 3.5rem;
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.groups_content_button:hover{
    border: .2rem solid rgb(28, 70, 183);
    background-color: rgb(233, 237, 241);
    cursor: pointer;
}
.groups_widget{
    height: 44.8rem;
    width: 28rem;
    background-color: white;
    margin-left: 102rem;
    margin-top: -57.1rem;
    border-radius: 1rem;
}
.groups_widget_header{
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
}
.groups_widget_header > p{
    font-size: 1.6rem;
}
.groups_widget_content{
    display: flex;
    flex-direction: row;
    border-bottom: .1rem solid #e7e7e7;
    height: 13rem;
}
.groups_widget_img{
    height: 10rem;
    width: 8rem;
}
.groups_widget_body{
}
.groups_widget_button{
    margin-top: 1rem;
    border-radius: 3.5rem;
    border: .1rem solid #7f7f7f;
    background-color: white;
    color: #7f7f7f;
    width: 5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.groups_widget_button:hover{
    cursor: pointer;
    border: .2rem solid #7f7f7f;
    background-color: #ededed;
}
.groups_widget_body > p{
    margin-top: -1.8rem;
    font-size: 1.1rem;
    color: #b0b0b0;
}
.groups_widget_body > h4{
    font-weight: normal;
    font-size: 1.4rem;
}
.groups_widget_body > h4:hover{
    text-decoration: underline;
    cursor: pointer;
}
.groups_widget_img > img{
    height: 8rem;
    width: 8rem;
    margin-top: 1.5rem;
}
.below_groups_widget{
    border-top: .1rem solid #e2e2e2;
    margin-top: 4rem;
}
.groups_footer{
    margin-top: 20rem;
}

@media (max-width:500px){
    .groups_feed_body{
        margin-left: -2rem;
        width: 43rem;
        height: 45rem;
    }
    .groups_feed_content{
        margin-left: 13.2rem;
    }
    .groups_widget{
        margin-top: 1.9rem;
        margin-left: 0rem;
        width: 41rem;
    }
    .groups_widget_content{
        margin-left: 3rem;
    }
}