html{
    font-size: 62.5%;
}
.header{
    display: flex;
    background-color: white;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    height: 3.5rem;
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
    margin-top: -.8rem;
    z-index: 10;
}
.body{
    background-color: #f3f2ef;
    height: 100vh;
    width: 100vw;
}
.header__left{
    display: flex;
    margin-left: 24.5rem;
}
.header__left .header__logo img{
    height: 3rem;
    width: 3rem;
    margin-top: .2rem;
    margin-left: -2.2rem;
}
.header__search{
    display: flex;
    align-items: center;
    background-color: #eef3f8;
    padding: .3rem 1rem;
    border-radius: .5rem;
}
.header__search > img{
    height: 1.5rem;
    margin-left: 14rem;
    margin-bottom: 1.5rem;
}
.header__search > input{
    background-color: transparent;
    border: 0rem;
    outline: 0;
    min-width: 22rem;
    width: 10rem;
}
.header__search > svg{
    height: 2rem;
    width: 2rem;
}
.header__right{
    display: flex;
    align-items: center;
    margin-right: 33rem;
    margin-bottom: 1rem
}
.header__icons{
    display: flex;
    height: 4rem;
   flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    color: rgb(143, 149, 155);
}
.header__icons:hover{
    cursor: pointer;
    color: black;
}
.header__icons > svg{
    height: 3.5rem;
    width: 6.5rem;
    color: rgb(143, 149, 155);
}
.header__icons > svg:hover{
    color: black;
}
.header__icons > p{
    margin: 0rem;
    font-size: 1.3rem;
}
#home_page:active{
    color: black;
}
.header__logo{
    margin-right: 10rem;
}
.header__left .header__search{
    margin-left: -8rem;
}
.header__right:first-child{
    color: black;
}
.activate{
    scale: 1;
}
.deactivate{
    scale: 0;
}
#dropDownMenu{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    margin-top: 34.6rem;
    margin-left: -21rem;
    border-radius: .5rem;
    box-shadow: .1rem .1rem 1rem gainsboro;
    height: 26.5rem;
    width: 19.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.head{
    display: flex;
    color: black;
    margin: 0rem;
    padding: 0rem;
}
.head > svg{
    height: 4rem;
    width: 6rem;
}
#name{
    color: black;
    margin: 0rem;
    font-size: 2.2rem
}
.profile{
    border-radius: 2rem;
    border: .1rem solid rgb(28, 70, 183);
    color: rgb(28, 70, 183);
    position: absolute;
    left: .5rem;
    width: 17rem;
    text-align: center;
    margin-top: 4.6rem;
    height: 2rem;
    font-size: 1.6rem;
}
.profile:hover{
    border: .2rem solid rgb(28, 70, 183);
}
.settings{
   width: 18rem;
    margin-top: 2rem;
}
.settings p{
    font-size: 1.5rem;
    color: rgb(143, 149, 155);;
}
.settings p:hover{
    text-decoration: underline;
}
.signout{
    color: rgb(143, 149, 155);
    text-decoration: none;
}
.downArrow{
    left:1rem;
}
@media(max-width:500px){
    .header{
        height: 3rem;
        position: sticky;
        top: 0rem;
        z-index: 10;
        margin-left: -1rem;
    }
    .header__icons > p{
        display: none;
    }
    .header__left{
        display: flex;
        margin-left: 2.5rem;
    }
    .header__search > input{
        display: none;
    }
    .header__icons{
        height: 2rem;
        padding: 0.6rem;
    }
    .header__icons > svg{
        width: 4.5rem;
    }
    .header__right{
        padding: 1rem;
    }
    #name{
        font-size: 2.2rem
    }
    .profile{
        height: 2rem;
        font-size: 1.6rem;
    }
}