.jobs_sidebar{
    display: flex;
    flex-direction: column;
    margin-left: 23.7rem;
}
.jobs_sidebar_top{
    border-bottom: .1rem solid #ccc;
    text-align: center;
    background-color: #fff;
    border-radius: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    overflow: hidden;
    height: 28rem;
    width: 23.4rem;
    position: fixed;
    top: 8.3rem;
}
.jobs_sidebar_top p{
    padding: 0;
    margin-left: 0;
    padding-left: 3rem;
    display: flex;
    color: rgb(73, 87, 101);
    font-size: large;
}
.jobs_sidebar_top p:hover{
    background-color: #f3f2ef;
    cursor: pointer;
}
.jobs_sidebar_bottom{
    position: fixed;
    top: 38rem;
}
.jobs_sidebar_bottom h4{
    margin-left: .2rem;
    border-radius: 3.5rem;
    border: .1rem solid rgb(28, 70, 183);
    color: rgb(28, 70, 183);
    width: 15vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}
.jobs_sidebar_bottom h4:hover{
    border: .2rem solid rgb(28, 70, 183);
    background-color: rgb(202, 209, 227);
    cursor: pointer;
}
.jobs_sidebar svg{
    margin-right: 1.2rem;
}
.job_alert_modal_activated{
    scale: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    /* opacity: 0.7; */
    z-index: 11;
}
.job_alert_modal_deactivated{
    scale: 0;
}
.job_alert_body{
    height: 46rem;
    width: 55rem;
    background-color: white;
    border-radius: 1rem;
    /* position: absolute; */
    /* top: 40rem;
    left: 440rem; */
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
}
.job_alert_header{
    border-bottom: .1rem solid #d3d3d3;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.job_alert_header > h2{
    font-weight: normal;
    padding-bottom: 2.5rem;
}
.job_alert_header > svg{
    padding: .5rem;
    height: 2.2rem;
    width: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 50%;
}
.job_alert_header > svg:hover{
    cursor: pointer;
    background-color: #f3f2ef;
}
.search_for_jobs{
    border-radius: 3.5rem;
    border: .1rem solid rgb(28, 70, 183);
    background-color: white;
    color: rgb(28, 70, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
    width: 12.8rem;
    height: 3rem;
}
.search_for_jobs:hover{
    border: .2rem solid rgb(28, 70, 183);
    background-color: rgb(233, 237, 241);
    cursor: pointer;
}
.job_alert_content{
    margin-left: 12rem;
}
.job_alert_footer{
    height: 6.2rem;
    border-top: .1rem solid #e4e4e4;
    border-bottom: .1rem solid #e4e4e4;
    margin-top: 1.5rem;
}
.done_button{
    background-color: rgb(28, 70, 183);
    border-radius: 2rem;
    color: white;
    border: none;
    width: 5rem;
    height: 2.5rem;
    font-weight: bold;
    margin-left: 50.5rem;
}
.done_button:hover{
    cursor: pointer;
}
.job_alert_content >h2{
    margin-left: 1.8rem;
}
.job_alert_content >p{
    width: 30.9rem;
}
.jobs_sidebar_popup_activated{
    scale: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 11;
}
.jobs_sidebar_popup_deactivated{
    scale: 0;
}
.jobs_sidebar_popup{
    background-color: white;
    border: .1rem solid #ccc;
    height: 25rem;
    width: 41rem;
    position: absolute;
    top: 23rem;
    margin-left: 56rem;
    z-index: 12;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jobs_sidebar_popup > button{
    margin-top: 3rem;
    border-radius: 3.5rem;
    border: .1rem solid rgb(28, 70, 183);
    background-color: white;
    color: rgb(28, 70, 183);
    width: 7rem;
    height: 3rem;
    margin-left: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}
.jobs_sidebar_popup > button:hover{
    border: .2rem solid rgb(28, 70, 183);
    background-color: rgb(233, 237, 241);
    cursor: pointer;
}

@media (max-width:500px){
    .jobs_sidebar_top{
        margin-left: -25rem;
        width: 42rem;
        position: static;
    }
    .jobs_sidebar_popup{
        margin-top: -11rem;
        margin-left: 0rem;
    }
    .job_alert_body{
        width: 35rem;
    }
    .job_alert_content {
        margin-left: 4rem;
    }
    .done_button{
        margin-left: 30.5rem;
    }
}