.jobs_feed{
    text-align: center;
    height: 50rem;
    width: 51rem;
    border-radius: 1rem;
    margin-left: 50.3rem;
    margin-top: -61rem;
}
.jobs_feed_suggestions_activated{
    height: 13.5rem;
    width: 50rem;
    background-color: white;
    border-radius: 1rem;
    padding: .5rem;
}
.jobs_feed_suggestions_deactivated{
    scale: 0;
}
#jobs_feed_bottom{
    margin-top: 2rem;
    height: 46rem;
    width: 50rem;
    background-color: white;
    border-radius: 1rem;
    padding: .5rem;
}
.suggestions_body{
    width: 51rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.suggestions_button{
    border-radius: 3.5rem;
    border: .1rem solid rgb(28, 70, 183);
    background-color: white;
    color: rgb(28, 70, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 8rem;
    height: 2.5rem;
}
.suggestions_button:hover{
    border: .2rem solid rgb(28, 70, 183);
    background-color: rgb(233, 237, 241);
    cursor: pointer;
}
.suggestions_heading{
    display: flex;
    justify-content: flex-start;
}
.suggestions_heading > h3{
    margin-left: 1.5rem;
    font-weight: normal;
    font-size: 1.6rem;
}
.suggestions_heading > svg{
    border-radius: 50%;
    margin-top: 1.2rem;
    margin-left: 29.5rem;
    height: 2.2rem;
    width: 2.5rem;
    padding: .5rem;
}
.suggestions_heading > svg:hover{
    background-color: #f3f2ef;
}
.jobs_feed_header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.5rem;
}
.jobs_feed_header > h3{
    font-weight: normal;
    font-size: 1.6rem;
}
.jobs_feed_header > p{
    padding: 0;
    margin: 0;
    margin-top: -1.5rem;
    color: #8b8b8b;
    font-size: 1.5rem;
}
.Jobs_feed_recommendation{
    /* background-color: white;
    height: 100rem;
    width: 420rem;
    margin-top: 20rem; */
    width: 42rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 8.5rem;
}
.company_logo{
    height: 4rem;
    width: 4rem;
    margin-left: -7rem;
    margin-top: 3.2rem;
}
.company_logo > img{
    height: 4rem;
    width: 4rem;
}
.company_details{
    background-color: white;
    height: 10rem;
    width: 42rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5rem;
}
.company_name{
    margin-top: -1.7rem;
    color: black;
    font-size: 1.5rem;
}
.designation{
    font-size: 1.8rem;
    color: rgb(28, 70, 183);
    margin-top: 1.0rem;
}
.location{
    color: #8b8b8b;
    margin-top: -1.3rem;
    font-size: 1.4rem;
}
.days{
    color: #8b8b8b;
    font-size: 1.4rem;
    margin-top: -1.3rem;
}

.Jobs_feed_recommendation > svg{
    height: 2rem;
    width: 2rem;
    margin-right: 1.6rem;
    margin-top: 3.2rem;
    padding: .4rem;
    border-radius: 50%;
}
.Jobs_feed_recommendation:hover{
    cursor: pointer;
}
.designation:hover{
    cursor: pointer;
    text-decoration: underline;
}
.Jobs_feed_recommendation > svg:hover{
    background-color: #f3f2ef;
}

.job_alert_content{
    margin-left: 11rem;
}
.job_alert_content > h2{
    font-weight: normal;
}
.job_alert_content > p{
    width: 28rem;
}
.saved_jobs_deactivated{
    scale: 0;
}
.saved_jobs_activated{
    scale: 1;
}
.saved_jobs_popup{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
    width: 26rem;
    margin-left: -44.8rem;
    margin-top: -13rem;
    border-radius: 1rem;
    border: .1rem solid #ccc;
    padding-left: 1rem;
    /* position: fixed;
    bottom: 100rem; */
}
.saved_jobs_popup > p{
    margin-left: 1rem;
    font-size: 1.6rem;
}
.saved_job_check_mark{
    color: rgb(114, 190, 0);
    height: 1.5rem;
    width: 1.5rem;
}
.saved_job_close{
    margin-left: 9.8rem;
    padding: .5rem;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
}
.saved_job_close:hover{
    background-color: #f3f2ef;
    cursor: pointer;
}
.apply_for_jobs_activated{
    scale: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 11;
}
.apply_for_jobs_deactivated{
    scale: 0;
}
.apply_for_jobs{
    background-color: white;
    border: .1rem solid #ccc;
    height: 25rem;
    width: 41rem;
    position: absolute;
    top: 23rem;
    margin-left: 56rem;
    z-index: 12;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apply_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.apply_buttons > button{
    margin-top: 3rem;
    border-radius: 3.5rem;
    border: .1rem solid rgb(28, 70, 183);
    background-color: white;
    color: rgb(28, 70, 183);
    width: 7rem;
    height: 3rem;
    margin-left: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}
.apply_buttons > button:hover{
    border: .2rem solid rgb(28, 70, 183);
    background-color: rgb(233, 237, 241);
    cursor: pointer;
}
.applied_activated{
    scale: 1;
}
.applied_deactivated{
    scale: 0;
}
.applied_popup{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
    width: 34rem;
    margin-left: -44.8rem;
    margin-top: -13rem;
    border-radius: 1rem;
    border: .1rem solid #ccc;
    padding-left: 1rem;
}
.appled_job_check_mark{
    color: rgb(114, 190, 0);
    height: 1.5rem;
    width: 1.5rem;
}
.applied_job_close{
    margin-left: 9.8rem;
    padding: .5rem;
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
}
.applied_job_close:hover{
    background-color: #f3f2ef;
    cursor: pointer;
}
.applied_popup > p{
    margin-left: 1rem;
    font-size: 1.6rem;
}

@media (max-width:500px){
    .jobs_feed{
        margin-top: -60rem;
        margin-left: -1rem;
    }
    .jobs_feed_suggestions_activated{
        width: 41rem;
    }
    .suggestions_heading > h3{
        width: 16rem;
    }
    .suggestions_body{
        width: 40rem;
    }
    .suggestions_heading > svg{
        margin-left: 19rem;
    }
    .Jobs_feed_recommendation {
        width: 32rem;
    }
    .apply_for_jobs{
        margin-top: 0rem;
        margin-left: 0rem;
    }
}