.myjobs_sidebar_body{
    height: 8.3rem;
    width: 20rem;
    background-color: white;
    margin-top: 3rem;
    margin-left: 23.7rem;
    border-radius: 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}
.myjobs_sidebar_body > p{
    border-bottom: .1rem solid #dfdfdf;
    display: flex;
    justify-content: flex-start;
    padding-left: .5rem;
    font-size: 1.6rem;
}
.myjobs_sidebar_body > p > svg{
    margin-right: 1rem;
}
.myjobs_feed_body{
    height: 54rem;
    width: 50rem;
    background-color: white;
    margin-top: -9.2rem;
    margin-left: 47.7rem;
    border-radius: 1rem;
}
.myjobs_feed_header{

    padding: .1rem 0 0 2.5rem;
    height: 11rem;
    border-bottom: .1rem solid #e2e2e2;
}
.myjobs_feed_header > h2{
    font-weight: normal;
}
.applied{
    border-radius: 3.5rem;
    border: .1rem solid rgb(0, 124, 17);
    background-color: rgb(0, 124, 17);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3.2rem;
}
.applied:hover{
    cursor: pointer;
}
.company_post{
    font-size: 1.8rem;
    margin-top: 1rem;
}
.company_post:hover{
    cursor: pointer;
    text-decoration: underline;
}
.myjobs_feed_content > svg{
    margin-left: 45rem;
    /* margin-top: 0rem; */
    position: relative;
    top: -8.2rem;
    padding: .5rem;
    border-radius: 50%;
}
.myjobs_feed_content > svg:hover{
    cursor: pointer;
    background-color: #e8e8e8;
}
.myjobs_widget_body{
    background-color: white;
    height: 37rem;
    width: 30rem;
    margin-left: 100.5rem;
    margin-top: -54rem;
    border-radius: 1rem;
}
.myjobs_widget_header{
    padding-left: 1rem;
    padding-top: .5rem;
}
.myjobs_widget_header > p{
    font-size: 1.5rem;
}
.myjobs_widget_content{
    display: flex;
    flex-direction: row;
}
.myjobs_widget_content:hover{
    cursor: pointer;
    text-decoration: underline;
}
.myjobs_widget_img{
    height: 8rem;
    width: 10rem;
}
.myjobs_widget_img > img{
    height: 6rem;
    width: 7rem;
    margin: .8rem 0 0 1.2rem;
}
.myjobs_widget > p{
    margin-left: .5rem;
    font-size: 1.3rem;
}
.myjobs_widget_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.5rem;
    border-radius: 0 0 1rem 1rem;
}
.myjobs_widget_footer:hover{
    background-color: #eeeeee;
    cursor: pointer;
}
.myjobs_widget_footer > p{
    color: #959595;
    font-size: 1.6rem;
}
.already_applied_activated{
    scale: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 11;
}
.already_applied_deactivated{
    scale: 0;
}
.already_applied_popup{
    background-color: white;
    border: .1rem solid #ccc;
    height: 25rem;
    width: 41rem;
    position: absolute;
    top: 23rem;
    margin-left: 56rem;
    z-index: 12;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.already_applied_popup > button{
    margin-top: 3rem;
    border-radius: 3.5rem;
    border: .1rem solid rgb(28, 70, 183);
    background-color: white;
    color: rgb(28, 70, 183);
    width: 7rem;
    height: 3rem;
    margin-left: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}
.already_applied_popup > button:hover{
    border: .2rem solid rgb(28, 70, 183);
    background-color: rgb(233, 237, 241);
    cursor: pointer;
}
.questions_popup_activated{
    scale: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 11;
}
.questions_popup_deactivated{
    scale: 0;
}
.questions_popup{
    background-color: white;
    border: .1rem solid #ccc;
    height: 25rem;
    width: 41rem;
    position: absolute;
    top: 23rem;
    margin-left: 56rem;
    z-index: 12;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.questions_popup > button{
    margin-top: 3rem;
    border-radius: 3.5rem;
    border: .1rem solid rgb(28, 70, 183);
    background-color: white;
    color: rgb(28, 70, 183);
    width: 7rem;
    height: 3rem;
    margin-left: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}
.questions_popup > button:hover{
    border: .2rem solid rgb(28, 70, 183);
    background-color: rgb(233, 237, 241);
    cursor: pointer;
}

@media (max-width:500px){
    .myjobs_sidebar_body{
        margin-left: -1rem;
        width: 42rem;
        padding-left: 2rem;
    }
    .myjobs_feed_body{
        margin-top: 1.8rem;
        margin-left: -0.3rem;
        width: 42rem;
    }
    .myjobs_widget_body{
        margin-left: -0.5rem;
        margin-top: 2rem;
        width: 42rem;
    }
    .already_applied_popup{
        margin-left: 0rem;
    }
    .questions_popup{
        margin-left: 0rem;
    }
}