.network_sidebar{
    display: flex;
    flex-direction: column;
    margin-left: 23.7rem;
}
.sidebar_top{
    border-bottom: .1rem solid #ccc;
    text-align: center;
    background-color: #fff;
    border-radius: 1rem 1rem 0 0;
    padding-bottom: 1rem;
    height: 39rem;
    width: 27rem;
    position: fixed;
    top: 8.3rem;
}
.sidebar_top h3{
    font-weight: normal;
    font-size: 1.6rem;
    padding: 0;
    margin-left: 0;
    padding-right: 4.5rem;
}
.sidebar_top p{
    padding: 0;
    margin-left: 0;
    padding-left: 3rem;
    display: flex;
    color: lightslategray;
    font-size: large;
}
.sidebar_top svg{
    padding-right: 2rem;
    width: 2rem;
}
.sidebar_top p:hover{
    background-color: #f3f2ef;
    cursor: pointer;
}
.sidebar_top span{
    font-size: large;
    color: rgb(28, 70, 183);
}
.sidebar_top span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.sidebar_bottom{
    margin-top: 0rem;
    background-color: white;
    width: 27rem;
    height: 19rem;
    border-radius: 0 0 1rem 1rem;
    position: fixed;
    top: 48.4rem;
}
.events_popup{
    background-color: white;
    border: .1rem solid #ccc;
    height: 25rem;
    width: 40.9rem;
    position: absolute;
    top: 23rem;
    margin-left: 56rem;
    z-index: 12;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.events_popup_activated{
    scale: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 11;
}
.events_popup_deactivated{
    scale: 0;
}
.events_popup > button{
    margin-top: 3rem;
    border-radius: 3.5rem;
    border: .1rem solid rgb(28, 70, 183);
    background-color: white;
    color: rgb(28, 70, 183);
    width: 7rem;
    height: 3rem;
    margin-left: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}
.events_popup > button:hover{
    border: .2rem solid rgb(28, 70, 183);
    background-color: rgb(233, 237, 241);
    cursor: pointer;
}
.page_news_hashtag_activated{
    scale: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 11;
}
.page_news_hashtag_deactivated{
    scale: 0;
}
.page_news_hashtag{
    background-color: white;
    border: .1rem solid #ccc;
    height: 25rem;
    width: 41rem;
    position: absolute;
    top: 23rem;
    margin-left: 56rem;
    z-index: 12;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page_news_hashtag > button{
    margin-top: 3rem;
    border-radius: 3.5rem;
    border: .1rem solid rgb(28, 70, 183);
    background-color: white;
    color: rgb(28, 70, 183);
    width: 7rem;
    height: 3rem;
    margin-left: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}
.page_news_hashtag > button:hover{
    border: .2rem solid rgb(28, 70, 183);
    background-color: rgb(233, 237, 241);
    cursor: pointer;
}

@media(max-width:500px){
    .sidebar_top{
        width: 41rem;
        margin-left: -24rem;
        position: static;
    }
    .sidebar_bottom{
        width: 42rem;
        margin-left: -25rem;
        margin-top: 150rem;
    }
    .events_popup{
        margin-left: 0rem;
        margin-top: -11rem;
    }
    .page_news_hashtag{
        margin-top: -11rem;
        margin-left: 0rem;
    }
}