.sidebar{
    display: flex;
    flex: 0.25;
    flex-direction: column;
}
.sidebar .sidebar__profile{
    border-bottom: 1px solid #ccc;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 0px;
    overflow: hidden;
    width: 241px;
}
.profile_bg_img {
    width: 242px;
    height: 62px;
    margin-top: -77px;
    border-radius: 10px 10px 0px 0px;
}
.app_body{
    width: 70%;
    padding: 0px 15%;
    display: flex;
}
.profile__details > svg{
    height: 60px;
    width: 60px;
    margin-top: 30px;
    position: absolute;
    left: 330px;
    top: 83px;
    z-index: 1;
}
.profile__details h3{
    margin-top: 40px;
    margin-bottom: 0px;
    font-weight: normal;
}
.profile__details p{
    margin: 5px 10px;
    font-size: 14px;
    color: #878787;
}
.profile__stats{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-size: 13px;
    padding-right: 10px;
    align-items: center; 
}
.profile__stats span{
    margin-left: 8px;
    margin-right: 40px;
    font-size: 13px;
    color: rgba(0,0,0,0.6);
}
.alumni{
    margin-left: -68px;
}
.stat__number:hover{
    cursor: pointer;
    background-color: #e9e9e9;
}
.profile__details{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 78px;
}
.sidebar__recent{
    background-color: #fff;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    position: sticky;
    top: 60px;
}
.sidebar__recent p{
    font-size: 14px;
    display: flex;
    align-items: center;
    color: rgb(75, 75, 221);
}
.sidebar__recent p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.premium{
    margin: 10px 0 0 0;
    padding: 5px;
    border-top: 1px solid #ccc;
}
.premium:hover{
    cursor: pointer;
    background-color: #e9e9e9;
}
.try_premium{
    padding: 0;
    margin: 0;
    margin-left: -80px;
    font-size: 15px;
    text-decoration: underline;
}
.try_premium:hover{
    color: rgb(75, 75, 221);
    cursor: pointer;
}
.premium span{
    margin-left: 8px;
    margin-right: 40px;
    font-size: 13px;
}
.below_premium{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    border-top: 1px solid #ccc;
}
.below_premium:hover{
    cursor: pointer;
    background-color: #e9e9e9;
}
.below_premium p{
    padding-left: 7px;
}