.sidebar{
    display: flex;
    flex: 0.25;
    flex-direction: column;
}
.sidebar .sidebar__profile{
    border-bottom: 1px solid #ccc;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.sidebar .profile__details img{
    width: 248px;
    height: 62px;
    margin-left: 86px;
    margin-top: 81px;
    border-radius: 10px 10px 0px 0px;
}
.app_body{
    width: 70%;
    padding: 0px 15%;
    display: flex;
}
.profile__details svg{
    height: 60px;
    width: 60px;
    margin-top: 30px;
    position: absolute;
    left: 330px;
    top: 83px;
    z-index: 1;
}
.profile__details h4{
    margin-bottom: 0px;
}
.profile__details p{
    margin: 5px 10px;
    font-size: 13px;
    color: #333;
}
.profile__stats{
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 12px;
    padding: 0px 10px;
    align-items: center; 
}
.profile__details{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 78px;
}
.sidebar__recent{
    background-color: #fff;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    position: sticky;
    top: 60px;
}
.sidebar__recent p{
    font-size: 14px;
    display: flex;
    align-items: center;
    color: rgb(75, 75, 221);
}
.sidebar__recent p:hover{
    text-decoration: underline;
    cursor: pointer;
}